*{
    margin: 0;
    padding: 0;
}

body{
    background-color:wheat;
    text-align: center;
    
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 25px;
    /* border: none; */
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size:4rem;
    background-color:lightgreen;
    color: rebeccapurple;
}

.resetbtn{
    padding:0.8rem;
    /* margin: 20px; */
    font-size: 1rem;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.newbtn{
    padding:0.8rem;
    margin: 20px;
    font-size: 1rem;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}

#msg{

  color: black;
  font-size:5vmin;
  margin-top: 15px;
}

.message{
    height: 30vmin;
}

.hide{
    display: none;
}